<!DOCTYPE html>
<html lang="es">

<head>
  <title>HILO 100% POLIESTER BITAX CONO</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description"
    content="Somos una distribuidora minorista y mayorista de la ciudad de La Plata. ¡Tenemos artículos de mercería, bijouterie, hilos, cierres y mucho más! Ventas al por mayor y menor. Realizamos envíos a todo el país!" />
  <!--KEYWORDS Y META NAME DESCRIPTION-->
  <meta name="keywords"
    content="distribuidora, merceria, bijouterie, puntillas, lanas, hilos, botones, cierres, la plata, buenos aires, textil, ykk, mouline, dmc, anchor, envios" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../styles/bootstrap4/bootstrap.min.css" />
  <link href="../plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/owl.carousel.css" />
  <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/owl.theme.default.css" />
  <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/animate.css" />
  <link rel="stylesheet" type="text/css" href="../styles/product.css" />
  <link rel="stylesheet" type="text/css" href="../styles/product_responsive.css" />
</head>

<body>
  <div class="super_container">
    <!-- Header -->

    <header class="header">
      <div class="header_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="logo">
                  <a href="../index.html">Distribuidora 43</a>
                </div>
                <nav class="main_nav">
                  <ul>
                    <li>
                      <a href="../index.html">Home</a>
                    </li>
                    <li class="hassubs">
                      <a href="./productos.html">Productos</a>
                      <ul>
                        <li>
                          <a href="./hilos_bordado.html">Hilos de bordado</a>
                        </li>
                        <li>
                          <a href="./hilos_costura.html">Hilos de costura</a>
                        </li>
                        <li>
                          <a href="./puntillas_trencillas.html">Puntillas/Trencillas</a>
                        </li>
                        <li>
                          <a href="./cierres.html">Cierres</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="./preguntas_frecuentes.html">Preguntas frecuentes</a>
                    </li>
                    <li><a href="./contact.html">Contacto</a></li>
                  </ul>
                </nav>
                <div class="header_extra ml-auto">
                  <div class="hamburger">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Search Panel -->
      <div class="search_panel trans_300">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="search_panel_content d-flex flex-row align-items-center justify-content-end">
                <form action="#">
                  <input type="text" class="search_input" placeholder="Search" required="required" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Social -->
      <div class="header_social">
        <ul>
          <li>
            <a href="https://www.instagram.com/distribuidora43arg/"><i class="fa fa-instagram"
                aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/Distribuidora-43-109089757481981/"><i class="fa fa-facebook"
                aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </header>

    <!-- Menu -->

    <div class="menu menu_mm trans_300">
      <div class="menu_container menu_mm">
        <div class="page_menu_content">
          <div class="page_menu_search menu_mm">
            <form action="#">
              <input type="search" required="required" class="page_menu_search_input menu_mm"
                placeholder="Search for products..." />
            </form>
          </div>
          <ul class="page_menu_nav menu_mm">
            <li class="page_menu_item menu_mm">
              <a href="../index.html">Home<i class="fa fa-angle-down"></i></a>
              <ul class="page_menu_selection menu_mm"></ul>
            </li>
            <li class="page_menu_item has-children menu_mm">
              <a href="./productos.html">Productos<i class="fa fa-angle-down"></i></a>
              <ul class="page_menu_selection menu_mm">
                <li class="page_menu_item menu_mm">
                  <a href="./hilos_bordado.html">Hilos de bordado<i class="fa fa-angle-down"></i></a>
                </li>
                <li class="page_menu_item menu_mm">
                  <a href="./hilos_costura.html">Hilos de costura<i class="fa fa-angle-down"></i></a>
                </li>
                <li class="page_menu_item menu_mm">
                  <a href="./puntillas_trencillas.html">Puntillas/Trencillas<i class="fa fa-angle-down"></i></a>
                </li>
                <li class="page_menu_item menu_mm">
                  <a href="./cierres.html">Cierres<i class="fa fa-angle-down"></i></a>
                </li>
              </ul>
            </li>
            <li class="page_menu_item menu_mm">
              <a href="./preguntas_frecuentes.html">Preguntas frecuentes<i class="fa fa-angle-down"></i></a>
            </li>
            <li class="page_menu_item menu_mm">
              <a href="./contact.html">Contacto<i class="fa fa-angle-down"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu_close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>

      <div class="menu_social">
        <ul>
          <li>
            <a href="https://www.instagram.com/distribuidora43arg/"><i class="fa fa-instagram"
                aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/Distribuidora-43-109089757481981/"><i class="fa fa-facebook"
                aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Home -->

    <div class="home">
      <div class="home_container">
        <div class="home_background" style="background-image: url(../images/hilos_costura_producto.jpg)"></div>
        <div class="home_content_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_content">
                  <div class="home_title">Hilos de costura<span>.</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Product Details -->

    <div class="product_details">
      <div class="container">
        <div class="row details_row">
          <!-- Product Image -->
          <div class="col-lg-6">
            <div class="details_image">
              <div class="details_image_large">
                <img src="../images/hilo_bitax.jpg" alt="HILO 100 POLIESTER BITAX" />
              </div>
              <div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-between">
                <div class="details_image_thumbnail active" data-image="../images/details_hilo_bitax_1.jpg">
                  <img src="../images/details_hilo_bitax_1.jpg" alt="Detalle 1" />
                </div>
                <div class="details_image_thumbnail" data-image="../images/details_hilo_bitax_2.jpg">
                  <img src="../images/details_hilo_bitax_2.jpg" alt="Detalle 2" />
                </div>
                <div class="details_image_thumbnail" data-image="../images/details_hilo_bitax_3.jpg">
                  <img src="../images/details_hilo_bitax_3.jpg" alt="Detalle 3" />
                </div>
                <div class="details_image_thumbnail" data-image="">
                  <img src=""">
                  </div>
                </div>
              </div>
            </div>

            <!-- Product Content -->
            <div class=" col-lg-6">
                  <div class="details_content">
                    <div class="details_name">HILO 100% POLIESTER BITAX CONO</div>
                    <div class="details_price">Código: 1051</div>

                    <!-- In Stock -->
                    <div class="in_stock_container">
                      <div class="availability">Disponibilidad:</div>
                      <span>En Stock</span>
                    </div>
                    <div class="details_text">
                      <p>Medidas: 2000mts, 3000mts y 5000mts.</p>
                      <p>Colores: Disponible en varios colores.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row description_row">
                <div class="col">
                  <div class="description_title_container">
                    <div class="description_title">Descripción</div>
                  </div>
                  <div class="description_text">
                    <p>
                      Cono de hilo 100% poliester para coser 100% poliester BITAX de 2000mts,
                      3000mts y 5000mts. Disponible en varios espesores.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Products -->

          <div class="products">
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  <div class="products_title">Productos relacionados</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="product_grid">
                    <!-- Product -->
                    <div class="product">
                      <div class="product_image">
                        <img src="../images/hilo_algodon_cadena.jpg" alt="HILO ALGODON MERCERIZADO CADENA CONO" />
                      </div>
                      <div class="product_content">
                        <div class="product_title">
                          <a href="./hilo_algodon_cadena.html">HILO ALGODON MERCERIZADO CADENA CONO</a>
                        </div>
                        <div class="product_price">Código: 1052</div>
                      </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                      <div class="product_image">
                        <img src="../images/hilo_100poliester_thor.jpg" alt="HILO 100% POLIESTER THOR CONO" />
                      </div>
                      <div class="product_content">
                        <div class="product_title">
                          <a href="./hilo_100poliester_thor.html">HILO 100% POLIESTER THOR CONO</a>
                        </div>
                        <div class="product_price">Código: 1053</div>
                      </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                      <div class="product_image">
                        <img src="../images/hilo_coselo_todo.jpeg" alt="HILO COSELO TODO" />
                      </div>
                      <div class="product_content">
                        <div class="product_title">
                          <a href="./hilo_100poliester_coselo_todo.html">HILO 100% POLIESTER COSELO TODO BOBINA</a>
                        </div>
                        <div class="product_price">Código: 1054</div>
                      </div>
                    </div>

                    <!-- Product -->
                    <div class="product">
                      <div class="product_image">
                        <img src="../images/hilo_cadena_drima.jpg" alt="HILO CADENA DRIMA" />
                      </div>
                      <div class="product_content">
                        <div class="product_title">
                          <a href="./hilo_cadena_drima.html">HILO CADENA DRIMA</a>
                        </div>
                        <div class="product_price">Código: 1055</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Fix footer-->

          <div class="fix-footer"></div>

          <!-- Footer -->

          <div class="footer_overlay"></div>
          <footer class="footer">
            <div
              class="footer_background"
              style="background-image: url(../images/footer.jpg)"
            ></div>
            <div class="container">
              <div class="row">
                <div class="col">
                  <div
                    class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center"
                  >
                    <div class="footer_logo">
                      <a href="./index.html">Distribuidora 43.</a>
                    </div>
                    <ul>
                      <li>Calle 43 e/3 y 4. La Plata - BS AS. Argentina</li>
                      <li>+549 2267-675027</li>
                      <li>+549 2267-408336</li>
                      <li>+549 2267-638355</li>
                      <li>distribuidora43arg@gmail.com</li>
                    </ul>
                    <div class="copyright ml-auto mr-auto">
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;
                      <script>
                        document.write(new Date().getFullYear());
                      </script>
                      All rights reserved | This template is made with
                      <i class="fa fa-heart-o" aria-hidden="true"></i> by
                      <a href="https://colorlib.com" target="_blank">Colorlib</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="footer_social ml-lg-auto">
                      <ul>
                        <li>
                          <a href="#"
                            ><i class="fa fa-instagram" aria-hidden="true"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>

        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="../styles/bootstrap4/popper.js"></script>
        <script src="../styles/bootstrap4/bootstrap.min.js"></script>
        <script src="../plugins/greensock/TweenMax.min.js"></script>
        <script src="../plugins/greensock/TimelineMax.min.js"></script>
        <script src="../plugins/scrollmagic/ScrollMagic.min.js"></script>
        <script src="../plugins/greensock/animation.gsap.min.js"></script>
        <script src="../plugins/greensock/ScrollToPlugin.min.js"></script>
        <script src="../plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
        <script src="../plugins/Isotope/isotope.pkgd.min.js"></script>
        <script src="../plugins/easing/easing.js"></script>
        <script src="../plugins/parallax-js-master/parallax.min.js"></script>
        <script src="../js/product.js"></script>
</body>

</html>